@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Rowdies&display=swap');

body {
  background-color: rgb(120, 189, 17);
}

h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  border: solid;
  width: fit-content;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(3, 148, 184);
}

#introduction {
  text-align: center;
}

h2 {
  font-family: 'Lato', sans-serif;
  border-bottom: 4px solid;
  border-bottom-left-radius: 10px;
  padding-left: 10px;
  background-image: linear-gradient(to right, white, rgb(120, 189, 17) 70%);
}

h3 {
  font-family: 'Noto Sans', sans-serif;
  display: block;
  margin: 35px 0px 0px 15px;
  border: 2px solid rgb(3, 148, 184);
  border-radius: 7px;
  background-color: rgb(83, 81, 175);
  width: fit-content;
}

p {
  margin-left: 15px;
  display: block;
  font-family: 'Roboto Mono', monospace;
  height: 42px;
}

div {
  background-color: rgb(0, 90, 90);
  display: inline-block;
  width: 400px;
  height: 200px;
  margin: 20px;
}

div img {
  float: right;
  border: solid;
  width: 150px;
  height: 100px;
  margin-right: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10px;
}

#ac-rio-branco {
  border: 5px solid;
  border-top-left-radius: 25px;
}

#ap-macapa {
  border: 5px solid;
  border-bottom-left-radius: 25px;
}

#am-manaus {
  border: 5px solid;
  border-top-right-radius: 25px;
}

#pa-belem {
  border: 5px solid;
  border-bottom-right-radius: 25px;
}

#ro-porto-velho {
  border: 5px solid;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
}

#rr-boa-vista {
  border: 5px solid;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
}

#to-palmas {
  border: 5px solid;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

#al-maceio {
  border: 5px;
  border-style: dashed;
}

#ba-salvador {
  border: 5px;
  border-style: dotted;
}

#ce-fortaleza {
  border: 5px;
  border-style: double;
}

#ma-sao-luis {
  border: 5px;
  border-style: groove;
}

#pb-joao-pessoa {
  border: 5px;
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-left-style: solid;
  border-right-style: solid;
}

#pe-recife {
  border: 5px solid;
  border-left-style: dotted;
  border-right-style: dotted;
}

#pi-teresina {
  border: 5px solid;
  border-left-style: double;
  border-top-style: double;
}

#rn-natal {
  border: 5px solid;
  border-right-style: groove;
  border-bottom-style: groove;
}

#se-aracaju {
  border: 5px solid;
  border-left: none;
  border-bottom: none;
}

#go-goiania {
  border: 5px solid red;
}

#mt-cuiaba {
  border: 5px solid green;
}

#ms-campo-grande {
  border: 5px solid yellow;
}

#df-brasilia {
  border: 5px solid blue;
}

#es-vitoria {
  border: 5px solid;
  border-bottom-color: blue;
  border-right-color: blue;
}

#mg-belo-horizonte {
  border: 5px solid;
  border-top-color: red;
  border-left-color: red;
}

#sp-sao-paulo {
  border: 5px solid;
  border-left-color: yellow;
  border-right-color: yellow;
}

#rj-rio-de-janeiro {
  border: 5px solid;
  border-top-color: green;
  border-bottom-color: green;
}

#pr-curitiba {
  border: 5px solid;
  border-style: double;
  border-radius: 25px;
  border-color: red;
}

#sc-porto-alegre {
  border: 5px solid;
  border-style: dashed;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left-color: blue;
  border-top-color: blue;
  border-bottom-color: yellow;
  border-right-color: yellow;
}

#rs-florianopolis {
  border: 5px solid;
  border-style: dotted;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-left-color: slateblue;
  border-bottom-color: slateblue;
  border-top-color: aqua;
  border-right-color: aqua;
}
